/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body {
    margin: 0;
    padding: 0;
  }


.bg-unplash {
    background-color: rgb(32,32,223);
    background-image: linear-gradient(rgba(32,32,223, 0.7), rgba(32,32,223, 0.7)), url('./assets/rawpixel-567016-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
  
  
  .border-special-1 {
    background-image: linear-gradient(rgba(210,231,249, 0.5), rgba(210,231,249, 0.5)), url('./assets/angello.jpg');
    background-size: cover;
    background-position: center;
  }
  .border-special-2 {
    background-image: linear-gradient(rgba(130,130,249, 0.5), rgba(130,130,249, 0.5)), url('./assets/christopher.jpg');
    background-size: cover;
    background-position: center;
  }
  .border-special-3 {
    background-image: linear-gradient(rgba(210,231,249, 0.35), rgba(210,231,249, 0.35)), url('./assets/alex.jpg');
    background-size: cover;
    background-position: center;
  }
  .border-special-4 {
    background-image: linear-gradient(rgba(210,231,249, 0.35), rgba(210,231,249, 0.35)), url('./assets/kyle.jpg');
    background-size: cover;
    background-position: center;
  }
  .border-special-5 {
    background-image: linear-gradient(rgba(210,231,249, 0.35), rgba(210,231,249, 0.35)), url('./assets/luca.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .flip {
    -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
  }

  .position-video-mobile {
    top: 18rem;
  }

  .pin-bottom-left {
    bottom: 7%;
    left: 7%;
  }
  .pin-top-right {
    top: 7%;
    right: 7%;
  }

  .pin-center-left {
    top: 25%;
    left: 25%;
  }

  .pin-center-right {
    bottom: 25%;
    right: 25%;
  }